.auth-bg {
     background: #292929 url("../assets/books-bg.svg");
     width: 50%;
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-left: 20px;
     padding-right: 20px;
}

.form-container {
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.form-container form {
     display: flex;
     flex-direction: column;
}

.auth-container {
     display: flex;
     width: 100%;
}

.login-input {
     height: 50px;
     width: 373px;
     font-family: "Ubuntu";
     border-radius: 25px !important;
     border: none;
     color: #00000077;
     font-size: 20px;
     font-weight: 100;
     padding-left: 28px;
     margin: 9px 0;
     cursor: pointer;
}

.form-title {
     margin-bottom: 10px;
}

.orange-input {
     background: #fe8f3c;
}

.red-input {
     background: #fe4f3c;
}

.brown-input {
     background: #c42800;
}

.auth-span {
     text-align: right;
     color: #00000066;
     font-size: 20px;
     cursor: pointer;
     text-decoration: underline;
}

.question-span {
     margin-bottom: 8px;
}

.auth-a {
     text-decoration: underline;
     font-weight: 600;
     margin-left: 2px;
     font-size: 18px;
}

.auth-button {
     width: 150px;
     height: 50px;
     font-family: inherit;
     border: none;
     background-color: #fe8f3c;
     border-radius: 25px;
     font-weight: 700;
     font-size: 18px;
     color: #fff;
     cursor: pointer;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-btn-container {
     display: flex;
     justify-content: flex-end;
     padding-top: 27px;
}

.recover-modal {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: #7b7b7b6b;
     display: flex;
     min-height: 100vh;
     justify-content: center;
     align-items: center;
}

.bg-recover-modal {
     background: #fff;
     height: 283px;
     width: 630px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius: 42px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
     animation: fadeIn 0.2s ease-in-out;
}

.recover-input {
     align-self: flex-end;
}

.recover-password-btn {
     align-self: flex-end;
     padding-left: 10px;
     padding-right: 10px;
     height: 50px;
     color: #fff;
     font-weight: 700;
     font-size: 18px;
     font-family: inherit;
     border: none;
     background: #fe4f3c;
     border-radius: 25px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     margin-top: 2px;
     cursor: pointer;
}

@keyframes fadeIn {
     0% {
          transform: translate(0, -40px);
          opacity: 0;
     }
     100% {
          transform: translate(0, 0);
          opacity: 1;
     }
}

@media screen and (max-width: 827px) {
     .auth-container {
          flex-direction: column;
     }
     .auth-bg,
     .form-container {
          width: 100%;
     }
     .form-container {
          padding-top: 50px;
          padding-bottom: 50px;
     }
     .auth-bg {
          min-height: 400px;
     }
}

@media screen and (max-width: 420px) {
     .login-input {
          width: 100%;
     }
     .form-container {
          padding-left: 13px;
          padding-right: 13px;
     }
}

.error-message {
     background: #c42800;
     color: #fff;
     font-family: 'Ubuntu';
     border-radius: 10px;
     padding-left: 10px;
     font-size: 13px;
     padding-top: 3px;
     padding-bottom: 3px;
}

.snackbar-auth {
     background: #c42800 !important;
     font-weight: 600 !important;
}