.footer {
    background-color: #292929;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px 0 0 0;
}
.footer-logo {
    width: 220px;
    display: block;
    margin: 0 auto;
}
.footer > .container > .flex {
    margin: 25px;
}
.footer ul {
    width: 100%;
    color: rgba(255,255,255,0.67);
    margin: 10px 0;
    text-align: center;
}
.footer ul h3 {
    color: #FF5E00;
    font-size: 1.4rem;
    margin: 10px 0;
}
.footer ul li {
    margin-bottom: 15px;
}
.footer p {
    background-color: #F5F5F5;
    margin: 0;
    padding: 10px;
    color: #727272;
    text-align: center;
    font-size: 0.9rem;
}

@media screen and (min-width: 800px) {
    .footer > .container {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-logo {
        width: 20%;
        margin: 0;
    }
    .footer > .container > .flex {
        width: 75%;
        margin: 0;
    }
    .footer ul {
        width: 33%;
        color: rgba(255,255,255,0.67);
        margin: 10px 0;
    }
    .footer p {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer > .container {
        padding: 30px 5vw 60px 5vw;
    }
    .footer p {
        padding: 5px 0;
    }
}